@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html {
    background-color: #222222;
    font-size: small;
}

body {
    font-family: var(--font-family);
    margin: 0;
}