<nav class="flex w-full justify-content-around bg-bluegray-800">
    <div class="flex w-full gap-2 p-3">
        <p-button label="Inicio" icon="pi pi-home" styleClass="p-button-text p-button-warning"></p-button>
        <p-button label="Produtos" icon="pi pi-cart-plus" styleClass="p-button-text p-button-warning"></p-button>
        <p-button label=".." styleClass="p-button-text p-button-warning"></p-button>
        <p-button label=".." styleClass="p-button-text p-button-warning"></p-button>
        <p-button label=".." styleClass="p-button-text p-button-warning"></p-button>
        <p-button label=".." styleClass="p-button-text p-button-warning"></p-button>
    </div>
    <div class="flex align-items-center justify-content-center w-1">
        <p-button *ngIf="logado" label="Sair" styleClass="p-button-raised p-button-warning"></p-button>
        <p-button *ngIf="!logado" label="Entrar" styleClass="p-button-raised p-button-warning"></p-button>
    </div>
</nav>